@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.App {
  font-family: "Roboto Mono", monospace;
  font-size: 19px;
  background: #e2e6e8;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  font-size: 2.8rem;
  margin: 0, 0.5rem;
  line-height: 4rem;
  padding: 0;
}

h4 {
  padding-right: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #797c7e;
  font-size: 19px;
}

ul {
  list-style: none;
}

.inline li {
  display: inline-block;
  margin-right: 2rem;
}

.inline li:last-child {
  margin-right: 0;
}

.email {
  text-decoration: none;
  cursor: pointer;
  color: #797c7e;
  font-size: 19px;
}

/* HEADER */
header {
  z-index: 0 !important;
  background: #16191b;
  color: #e2e6e8;
  overflow: hidden;
  height: 96vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  position: fixed;
  z-index: 0;
  width: 710px;
}

/* Animations */

.typewriter {
  animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 1000ms steps(40) infinite normal;
}

.cursor {
  position: relative;
  top: 50%;
  padding-left: 5px;
  margin-left: -5px;
  /* width: 55em; */
  border-right: 2px solid #e2e6e8;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #e2e6e8;
  }
  to {
    border-right-color: transparent;
  }
}

/* LINK */

.grid-container {
  display: grid;
  height: 100%;
  /* max-width: ; */
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "text web" "description repo";
  /* margin: 300px; */
  padding: 2rem;

  background: #e2e6e8;
  color: #16191b;
}

.text {
  grid-area: text;
  font-size: 2.8rem;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text p h2 {
  margin: 0;
  padding: 1rem;
}

.description {
  grid-area: description;
  /* border: 3px solid green; */
  font-size: 1.3rem;
}

.web {
  grid-area: web;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
  width: auto;
  height: auto;
}

.repo {
  grid-area: repo;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid blue; */
}

.logo {
  width: 50px;
  height: 50px;
}

/* CONTENT */
main {
  background: #e2e6e8;
  position: relative;
  z-index: 99 !important;
  margin-top: -3rem;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 200px 200px 50px 200px;
}
*/

/* FOOTER */
footer {
  padding: 10px;
}

.contact {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #e2e6e8;
}

.info {
  padding: 0;
}

/* CANVAS */
.wrapper {
  background: #e2e6e8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

#canvas {
  width: 65vw;
}

/* media queries */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  main ul {
    padding: 10px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.5fr;
    grid-gap: 1px 1px;
    grid-template-areas: "text text" "web repo" "description description";
  }
  .text {
    justify-content: center;
    text-align: center;
  }

  .typewriter {
    animation: none;
  }
  .cursor {
    border-right: 0;
  }

  .profile {
    width: 500px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  h2 {
    font-size: 2rem;
  }

  main ul {
    padding: 30px;
  }

  .profile {
    width: 510px;
  }
}

@media screen and (max-width: 640px) {
  h4 {
    padding-right: 10px;
    font-size: 1rem;
  }

  .contact-link {
    font-size: 1rem;
  }

  .inline {
    display: flex;
    align-content: space-around;
  }

  .inline li {
    margin-right: 10px;
    display: block;
    padding: 0;
  }

  main ul {
    padding: auto;
    margin: 0;
  }

  .profile {
    width: 100vw;
  }

  .cursor {
    width: auto;
    white-space: normal;
  }

  .grid-container {
    padding: 0;
  }

  footer {
    flex-direction: column;
  }
}
