@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.App {
  font-family: "Roboto Mono", monospace;
  font-size: 19px;
  background: #e2e6e8;
}

header {
  z-index: 0 !important;
  background: #16191b;
  color: #e2e6e8;
  overflow: hidden;
}

h2 {
  font-size: 2.8rem;
  margin: 0, 0.5rem;
  line-height: 4rem;
  padding: 0;
}

h4 {
  padding-right: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #797c7e;
  font-size: 19px;
}

.email {
  text-decoration: none;
  cursor: pointer;
  color: #797c7e;
  font-size: 19px;
}

.about {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  position: fixed;
  z-index: 0;
  width: 710px;
}

footer {
  top: -3rem;
  background: #e2e6e8;
  position: relative;
  z-index: 99 !important;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 200px 200px 50px 200px;
}

.contact {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #e2e6e8;
  padding-bottom: 3rem;
  bottom: -3rem;
}

ul {
  list-style: none;
}

.info {
  padding: 0;
}

.inline li {
  display: inline-block;
  margin-right: 2rem;
}

.inline li:last-child {
  margin-right: 0;
}

.typewriter {
  animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 1000ms steps(40) infinite normal;
}

.cursor {
  position: relative;
  top: 50%;
  padding-left: 5px;
  margin-left: -5px;
  width: 55em;
  border-right: 2px solid #e2e6e8;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15.6em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #e2e6e8;
  }
  to {
    border-right-color: transparent;
  }
}
