.grid-container {
  display: grid;
  height: 100%;
  /* max-width: ; */
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "text web" "description repo";
  /* margin: 300px; */
  padding: 2rem;

  background: #e2e6e8;
  color: #16191b;
}

.text {
  grid-area: text;
  font-size: 2.8rem;
  /* border: 3px solid purple; */
  width: auto;
}

.description {
  grid-area: description;
  /* border: 3px solid green; */
  font-size: 1.8rem;
}

.web {
  grid-area: web;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
  width: auto;
  height: auto;
}

.repo {
  grid-area: repo;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid blue; */
}

.logo {
  width: 100px;
  height: 100px;
}
